{% extends "base_problem.html" %}

{% block body %}
<div id="question">
<h1>Pizza-Distribution-Problem</h1>
Angenommen wir haben <i>n</i> Pizzen und sind mit <i>m</i> Leuten mit n &leq; m.
Wir möchten jetzt die Pizzen auf uns aufteilen. Dabei gelten folgende Regeln:
1. Alle Pizzen müssen in gleich viele Stücke geschnitten werden.
2. Wir versuchen möglichst große Stücke zu haben.
<br><br><br>
In wie viele Teile müssen wir eine Pizza schneiden?
<br><br><br> <br><br><br>
Übergeben wird dir eine erste Zahl für die Anzahl an Zeilen danach und danach genau
so viele Kombinationen von n und m: <br>
a <br>
n m <br>
n m <br>
...
<br><br>
Ausgeben sollst du nur die Ergebnisse deiner Berechnung.
Das könnte dann zum Beispiel so aussehen:
<h4>Input</h4>
3<br>
3 4<br>
6 12<br>
114 138<br>
<br><br>
<h4>Output</h4>
4<br>
2<br>
23<br>

<br><br><br><br>
<a href="/test_contest/pizza_distribution_problem/input.txt" download>input</a>

</div>
{% endblock %}
