body{
    background: rgb(39, 39, 39);
    background-image: linear-gradient(120deg, rgb(39, 39, 39), rgb(17, 17, 17));
    background-attachment: fixed;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: visible;
    color: white;

}


#menu{
    display: flex;
    align-items: center;
}

#menu-items{
    margin-left: 20vw; /*clamp(10px, 13vw, 8rem);*/
    margin-top: 20vh;
}

.menu-item{
    color: white;
    font-size: clamp(20px, 6vw, 40px);
    
    display: block;
    text-decoration: none;
    padding: 50px;
}

#question {
    color: white;
    text-align: left;
    margin-left: clamp(30px, 10vw, 500px);
    max-width: 80vw;
    font-size: clamp(15px, 2.5vw, 23px);
}


#submit {
    margin-left: clamp(30px, 10vw, 500px);
}

#answer_feedback{
    margin-left: 20vw;
    margin-top: 5vh;
    font-size: clamp(20px, 6vw, 40px);

}

.local_link{
    text-decoration: none;
    color: white;
}

#top_bar{
    position: relative;
    max-width: 90vw;
    margin-left: 1vw;
    margin-top: 2vh;
    font-size: 20px;
}

#directory{
    position: absolute;
}

#login_info{
    position: absolute;
    right: 0;
}

a{
    color: lightblue;
    text-decoration: none;
}

