{% extends "./base_menu.html" %}

{% block body %}
    <div class="grid grid-cols-2 gap-2 mt-2">
        <div class="bg-red-400 rounded-lg shadow-xl h-screen ml-2">
        <p class="text-center font-bold text-2xl">Test-Contest</p>
        <div class="divide-y">
            {% for problem in problems.keys() %}

            <div class="flex flex-row items-center ml-2">
                <p class="font-bold text-xl">{{ loop.index }}.</p>
                <a class="mt-2 font-semibold text-lg ml-2" href="test_contest/{{ problem }}">{{ problems[problem]["name"] }}</a>
            </div>
            {% endfor %}
        </div>


        </div>
        <div class="bg-emerald-400 rounded-lg shadow-xl h-screen mr-2"></div>


    </div>




{% endblock %}

