{% extends "base_menu.html" %}


{% block links %}
	<script type="text/javascript" src="../static/js/admin_contest_config.js"></script>
{% endblock %}

{% block body %}
<div class="grid grid-cols-3">
	<button onclick="loadProblemsPage()" class="bg-adminColor hover:bg-adminColorHover shadow-xl h-12 text-gray-100 text-lg font-semibold">
		<p>Problems</p>
	</button>

	<button onclick="loadParticipantsPage()" class="bg-adminColor hover:bg-adminColorHover shadow-xl h-12 text-gray-100 text-lg font-semibold">
		<p>Participants</p>
	</button>

	<button class="bg-adminColor hover:bg-adminColorHover shadow-xl h-12 text-gray-100 text-lg font-semibold">
		<p>Settings</p>
	</button>
</div>

<div id="problem_field" class="mt-2">
	{% for problem in problems.keys() %}
	<div class="flex flex-row justify-between">
		<div class="flex flex-row items-center ml-2">
	        <p class="font-bold text-xl">{{ loop.index }}.</p>
	        <a class="mt-2 font-semibold text-lg ml-2" href="test_contest/{{ problem }}">{{ problems[problem]["name"] }}</a>
		</div>

		<div class="mr-2">
			<button>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
			  		<path d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32L19.513 8.2Z" />
				</svg>
			</button>

		</div>
	</div>	
	{% endfor %}
</div>

<div id="participants_field" class="hidden">
    <table class="w-full text-md text-center">
        <thead class="text-lg uppercase bg-adminTeamTableColor h-12 shadow-2xl rtl:text-right text-gray-500">
            <tr>
                <th scope="col">
                    Team name
                </th>
                <th scope="col">
                    Member count
                </th>
                <th scope="col">
                    Members
                </th>
                <th scope="col">
                    Score
                </th>
            </tr>

        </thead>
        <tbody class="">
            {% for team in teams %}
            <tr class="odd:bg-adminTeamTableContentDark even:bg-adminTeamTableContentLight">
                <th scope="col">
                    {{ team.name }}
                </th>
                <th scope="col">
                    {{ team.get_members()|length }}
                </th>
                <th scope="col" class="">
                    {% for member in team.get_members() %}
                        <a href="/profile/{{ member.id }}" class="">{{ member.username }}</a>
                    {% endfor %}
                </th>
                <th scope="col">
                    {{ team.get_score() }}
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}