{% extends "base_menu.html" %}





{% block body %}
    {% block body2 %}{% endblock %}
    <link rel="stylesheet" href="/static/css/problem.css">

    <div class="absolute">
        <a href="/contest/{{contest_id}}" class="text-5xl ml-3 mt-3 text-white shadow-2xl">&#8592;</a>
    </div>

    <div class="flex justify-center items-center">
        <div class="text-white mt-2 ml-2 w-[50%] flex-col">
            {{problem_content|markdown}}
        </div>

    </div>


    <br>
    <br>
    {% if submission_type == "file" %}

    <div class="flex flex-col items-center">
        <div class="mt-5 bg-adminColor hover:bg-adminColorHover text-center rounded-2xl shadow-2xl font-semibold py-3 px-2">
            <a href="../input_files/{{problem_id}}" download>Download input file</a>
        </div>


        <div id="submit" class="">
            <form method="post" enctype="multipart/form-data" class="flex flex-col items-center">
                <input type="file" name="file" class="bg-adminTeamTableColor text-center rounded py-1 border-2 border-gray-500 shadow-2xl mt-5 px-2"/>
                <input type="submit" class="mt-5 bg-adminColor hover:bg-adminColorHover w-[50%] text-center rounded-2xl shadow-2xl font-semibold py-3"/>
            </form>
        </div>
    </div>

    {% elif submission_type == "number" %}
        <form action="" method="post" class="flex flex-col items-center">
            {{ number_submission_form.hidden_tag() }}
            <input type="text" name="submission_number" placeholder="Deine Antwort" class="w-40 text-center rounded py-1 border-2 border-gray-500 shadow-2xl">
            <div class="mt-5 bg-adminColor hover:bg-adminColorHover w-[9%] text-center rounded-2xl shadow-2xl font-semibold py-3">
                <input type="submit" class="">
            </div>

        </form>

    {% endif %}

    <div class="pb-44"></div>
{% endblock %}
