{% extends "base_menu.html" %}





{% block body %}
    {% block body2 %}{% endblock %}

    {{problem_content|markdown}}

    <br>
    <br>
    {% if submission_type == "file" %}
    <a href="../input_files/{{problem_id}}" download>input</a>

    <div id="submit">
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file"/>
            <input type="submit"/>
        </form>
    </div>
    {% elif submission_type == "number" %}
        <form action="" method="post">
            {{ number_submission_form.hidden_tag() }}
            <input type="text" name="submission_number" placeholder="Deine Antwort">
            <input type="submit">
        </form>

    {% endif %}

{% endblock %}
