{% extends "base_menu.html" %}





{% block body %}
    {% block body2 %}{% endblock %}
    <link rel="stylesheet" href="/static/css/problem.css">

    <div class="flex justify-center items-center">
        <div class="text-white mt-2 ml-2 w-[50%] flex-col">
            {{problem_content|markdown}}
        </div>

    </div>


    <br>
    <br>
    {% if submission_type == "file" %}
    <a href="../input_files/{{problem_id}}" download>input</a>

    <div id="submit">
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file"/>
            <input type="submit"/>
        </form>
    </div>
    {% elif submission_type == "number" %}
        <form action="" method="post">
            {{ number_submission_form.hidden_tag() }}
            <input type="text" name="submission_number" placeholder="Deine Antwort">
            <input type="submit">
        </form>

    {% endif %}

{% endblock %}
