{% extends "./base_menu.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
    <!-- User Display -->
    <div class="container mx-auto mt-5 text-center">
        <div class="text-white font-bold text-4xl mb-4">
            <p>{{ user.username }}</p>
        </div>
    </div>

    <!-- Contest Buttons -->
    <div class="container mx-auto mb-5 text-center">
        <div class="mb-8">
            {% for contest in contests %}
                <button class="btn btn-lg btn-primary mx-2 my-2">{{ contest }}</button>
            {% endfor %}
        </div>
    </div>

    <!-- Divider -->
    <div class="container mx-auto mb-10">
        <hr class="border-t-2 border-blue-500">
    </div>

    <!-- Change Username Form -->
    <div class="container mx-auto mb-5">
        <h3 class="text-white font-bold text-2xl mb-3 text-center">Change Username</h3>
        <form method="POST" action="{{ url_for('views.profile') }}" class="mx-auto" style="max-width: 400px;">
            {{ change_username_form.hidden_tag() }}
            <div class="mb-4">
                {{ wtf.form_field(change_username_form.new_username, class="form-input rounded-full py-2 px-4 w-full") }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary w-full">Change Username</button>
            </div>
        </form>
    </div>

    <!-- Change Password Form -->
    <!-- Change Password Form -->
    <div class="container mx-auto mb-5">
        <h3 class="text-white font-bold text-2xl mb-3 text-center">Change Password</h3>
        <form method="POST" action="{{ url_for('views.profile') }}" class="mx-auto" style="max-width: 400px;">
            {{ change_password_form.hidden_tag() }}
            <div class="mb-4">
                {{ wtf.form_field(change_password_form.current_password, class="form-input rounded-full py-2 px-4 w-full mb-2") }}
                {{ wtf.form_field(change_password_form.new_password, class="form-input rounded-full py-2 px-4 w-full mb-2") }}
                {{ wtf.form_field(change_password_form.confirm_password, class="form-input rounded-full py-2 px-4 w-full") }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Change Password</button>
            </div>
        </form>
    </div>
{% endblock %}
