{% extends "./base_menu.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
    <!-- User Display -->
    <div class="container mx-auto mt-5 text-center">
        <div class="text-white font-bold text-4xl mb-4">
            <p>{{ user.username }}</p>
        </div>
    </div>

    <!-- Statistics Overview -->
    <div class="container mx-auto mb-5 text-center mt-10">
        <div class="text-white font-bold text-2xl mb-4">
            <p>Statistiken</p>
        </div>
        <div class="mb-8 text-white">
            <p>Teilgenommene Contests: {{ stats.total_contests }}</p>
            <p>Gelöste Probleme: {{ stats.completed_problems }}</p>
            <p>Gesamte Problemanzahl: {{ stats.total_problems }}</p>
        </div>
    </div>

    <!-- Contest Buttons -->
    <!--
    <div class="container mx-auto mb-5 text-center mt-10">
        <div class="mb-8">
            {% for contest in contests %}
                <button class="btn btn-lg btn-primary mx-2 my-2">{{ contest }}</button>
            {% endfor %}
        </div>
    </div>
    -->

    <!-- Divider -->
    <div class="container mx-auto mb-10">
        <hr class="border-t-2 border-blue-500">
    </div>

    <!-- Change Username Form -->
    <p class="text-center font-bold text-2xl text-white">Benutzernamen ändern</p>
    <form action="" method="post" class="flex flex-col items-center">
        {{ change_username_form.hidden_tag() }}
        <input type="text" name="new_username" placeholder="Benutzername" class="w-100 mt-4 text-center rounded py-1 border-2 border-gray-500 shadow-2xl">
        <div class="mt-5 bg-adminColor hover:bg-adminColorHover w-[9%] text-center rounded-2xl shadow-2xl font-semibold py-3">
            <button type="submit" class="">Submit</button>
        </div>
    </form>
    <!-- Change Password Form -->
    <p class="text-center font-bold text-2xl text-white">Passwort ändern</p>
    <form action="" method="post" class="flex flex-col items-center">
        {{ change_password_form.hidden_tag() }}
        <input type="text" name="current_password" placeholder="altes Passwort" class="w-100 mt-4 text-center rounded py-1 border-2 border-gray-500 shadow-2xl">
        <input type="text" name="new_password" placeholder="neues Passwort" class="w-100 mt-4 text-center rounded py-1 border-2 border-gray-500 shadow-2xl">
        <input type="text" name="confirm_password" placeholder="neues Passwort wiederholen" class="w-100 mt-4 text-center rounded py-1 border-2 border-gray-500 shadow-2xl">
        <div class="mt-5 bg-adminColor hover:bg-adminColorHover w-[9%] text-center rounded-2xl shadow-2xl font-semibold py-3">
            <button type="submit" class="">Submit</button>
        </div>
    </form>
{% endblock %}
