{% extends "bootstrap/base.html" %}
{% include "./base_menu.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
    <!-- User Display -->
    <div class="container mx-auto mt-5 text-center">
        <div class="text-white font-bold text-4xl mb-4">
            <p>{{ user.username }}</p>
        </div>
    </div>

    <!-- Statistics Overview -->
    <div class="container mx-auto mb-5 text-center mt-10">
        <div class="text-white font-bold text-2xl mb-4">
            <p>Statistics Overview</p>
        </div>
        <div class="mb-8 text-white">
            <p>Total Contests: {{ stats.total_contests }}</p>
            <p>Completed Problems: {{ stats.completed_problems }}</p>
            <p>Total Problems: {{ stats.total_problems }}</p>
        </div>
    </div>

    <!-- Contest Buttons -->
    <div class="container mx-auto mb-5 text-center mt-10">
        <div class="mb-8">
            {% for contest in contests %}
                <button class="btn btn-lg btn-primary mx-2 my-2">{{ contest }}</button>
            {% endfor %}
        </div>
    </div>

    <!-- Divider -->
    <div class="container mx-auto mb-10">
        <hr class="border-t-2 border-blue-500">
    </div>

    <!-- Change Username Form -->
    <div class="container mx-auto mb-5 text-white mt-16">
        <form method="POST" action="{{ url_for('views.profile') }}" class="mx-auto" style="max-width: 400px;">
            <p class="text-white font-bold text-2xl mb-3 text-center">Change Username</p>
            {{ change_username_form.hidden_tag() }}
            <div class="mb-4">
                {{ wtf.form_field(change_username_form.new_username) }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary w-full">Change Username</button>
            </div>
        </form>
    </div>
    <br>
    <br>

    <!-- Change Password Form -->
    <div class="container mx-auto mb-5 mt-16">
        <form method="POST" action="{{ url_for('views.profile') }}" class="mx-auto" style="max-width: 400px;">
            <p class="text-white font-bold text-2xl mb-3 text-center">Change Password</p>
            {{ change_password_form.hidden_tag() }}
            <div class="mb-4 text-white">
                {{ wtf.form_field(change_password_form.current_password) }}
                {{ wtf.form_field(change_password_form.new_password) }}
                {{ wtf.form_field(change_password_form.confirm_password) }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-lg btn-primary btn-block">Change Password</button>
            </div>
        </form>
    </div>
{% endblock %}
